<div class="hau">
    <h3>ยืนยันตัวเลขผุ้ติดเชื้อ</h3>
    <h1>Covid</h1>
    <h3>ทั้งหมดในประเทศ</h3>
</div>

<div class="form">
    <div class="putidsasom">
        <h2>{{Coviddata.Putidsasom}}</h2>
        <div class="buttomsasom">
            <i class="fas fa-chevron-up"></i>
            <p>เพิ่มขึ้น</p>
            <h2>{{Coviddata.Putidsasom}}</h2>
        </div>
    </div>
</div>